table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}

td {
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
  height: 60px; 
  width: 200px;
}

